cmake
fairscale
git+https://github.com/ltdrdata/img2texture.git
git+https://github.com/ltdrdata/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/ltdrdata/ffmpy.git
rembg
scikit-image
scikit-learn
scipy
timm
tqdm
transformers
